/*IMPORTANDO A FONTE ROBOTO DO GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*ATRIBUINDO EM TODOS OS ELEMENTOS*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIAVEIS*/
:root{
    --cor_principal: rgb(79, 150, 79);
    --cor_botao01: rgb(128, 0, 75);
    --cor_lnk_menu:  ;
    --cor_vermelha: red ;
    --cor_suave: ;
}

/*CONFIGURANDO A TAG main*/
#geral{
    margin: 20px;
    padding: 20px;
}

/*CONFIGURANDO O CABEÇALHO DA PAGINA*/
#cabecalho{
    width: 100%;
    height: 200px;
    background-color: var(--cor_principal);
    padding: 5px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ALTERANDO O TAMANHO DA IMAGEM DO LOGO*/
#logo img{
    width: 250px;
    height: 160px;
}

/*CONFIGURANDO A TAG NAV POR MEIO DO SEU ID*/
#menu{
    background-color: aliceblue;
    width: 750px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CONFIGURANDO OS LI DO UL DO CABEÇALHO NA HORIZONTAL*/
#cabecalho ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

/*CONFIGURANDO OS TAMANHOS DOS ICONES*/
#div-icones img{
    width: 70px;
    height: 60px;
}

/*FORMATANDO OS MENUS*/
#menu a:link{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_lnk_menu);
}

#menu a:visited{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_lnk_menu);
}

#menu a:hover{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_botao01);
}

#menu a:active{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_vermelha);
}

/*FORMATANDO section PELO ID PESQUISE*/
#pesquisa{
    background-color: var(--cor_suave);
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pesquisa input{
    width: 600px;
    height: 80px;
    padding: 20px;
    border-radius: 8px;
    font-size: 2em;
    background-color: var(--cor_lnk_menu);
}

#cards{
    background-color: aqua;
    width: 1000px;
    min-height: 600px;
    margin: 20px 0px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card{
    width: 250px;
    min-height: 500px;
    border: solid 1px var(--cor_principal);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    height: 150px;
}

.card h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px 0px;
}

.card h3{
    margin: 20px 0px;
}

.card button{
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: none;
    background-color: pointer;
}

.card img{
    width: 100%;
    height: 150px;
}
/*FORMATAÇÃO DO RODAPÉ*/
#rodape{
    width: 100%;
    display: flex;
    background-color: var(--cor_suave);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#dadosloja{
    font-size: 0.8em;
}
#icones-sociais ul{
    list-style: none;
}

#icones-sociais img{
    width: 25px;
    height: 25px;
    margin-left: 50px;0
}

#div-cartoes{
    width: 25px;
    height: 25px;
}